---
body_id: maps
header: |
  <script src="/javascript/maps.js"></script>
---

<% # load elems
ERB::Util

elems = YAML::load( File.open( 'includes/images.yaml' ) )
%>

<div class="row" id="maprow">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div id="slider-box" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner" role="listbox">
        <%
        elems.map.with_index do |elem, idx|
        if elem["image"]
        
        additional = if elem["additional"].is_a? Array
                      elem["additional"].join(',')
                     elsif elem["additional"].is_a? String
                      elem["additional"]
                     else
                      ""
                      end
        additional_mobile = elem["additional_mobile"] || elem["additional"]
        %>
        <%= %{ <div class="item"
                    data-imgid="#{elem["imgid"] || ''}"
                    data-refid="#{elem["imgid"] || ''}"
                    data-location="#{elem["location"] || ''}"
                    data-coordinates="#{ERB::Util.h elem["coordinates"] || ''}"
                    data-additional="#{additional}"
                    data-additional_mobile="#{additional_mobile}"
                    data-additional_thumb="#{''}"
                    data-pdf="#{elem["pdf"] || ''}"
                    data-pdf_size="#{elem["pdf_size"] || ''}"
                    >
                    <a href="#/#{idx + 1}"><img src="#{elem["image"]}" /></a>
          </div> } %>
        <% end
        end
        %>
      </div>
        <!-- Controls -->
  <a class="left carousel-control" href=javascript:goPrev() role="button">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href=javascript:goNext() role="button">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>

  <div class="col-md-3">
    <aside id="slider-aside">
      <div class="row visible-xs-block">
        <div class="col-xs-12 col-sm-12 text-right"><a href=javascript:showAdditional()>detail</a></div>
      </div>
      <h1 style="margin-top: 0"></h1>
      <p></p>
      <div class="row visible-xs-block">
        <div class="col-xs-6 col-sm-6"><a href=/>home</a></div>
        <div class="col-xs-6 col-sm-6 text-right"><a href=/info/>maps</a></div>
      </div>
      <span class="slider-aside-image hidden-xs"></span>
    </aside>
  </div>
</div>

<div class="row hidden-xs">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div class="slider-thumbs">
      <%
      elems.map do |elem|
          image = elem["thumb"] || elem["image"]
          link = elem["thumblink"] || '#'
      %>
      <%=
      %{ <a href="#{link}" data-refid="#{elem["imgid"] || ''}"><img src="#{image}" height="40" /></a> }
      %>
      <% end %>
    </div>
  </div>
</div>

<script>

</script>

