// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


body {
  background: #fff;
  &#maps, &#imprints {
  background: #303030;
    //background: url("/images/background-large.jpg");
  }
  &#index {
    color: #000;
  }
}

.intro { font-style: italic; }

.white { color: #999; }

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #999;
}

.black, a.black { color: #000; }

a:hover {
  color: #fff;
}

#maps h1 {
  color: #d6d6d6;
}

body {
  color: #d6d6d6;
}


#slider-aside .slider-aside-image {
  div {
    bottom: 0px;
    position: absolute;
  }
}

#slider-aside {
  height: 510px;
}

.slider-thumbs {
  img {
    margin-right: 1ex;
  }
}

div#maprow {
  margin-top: 3em;
}

/*
#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
  margin-bottom: 0.5em;
}

#main p {
  margin: 20px 0;
}

#maps p {
  margin: 20px 0;
  
  font-size: 15px;
  
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}
*/
